dojo-api-loose.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:annotation>
    <xsd:documentation xml:lang="en">
DoJoSharp - ScriptSharp Bindings for the DojoToolKit

This document details the api.xml schema which DoJoSharp supports the parsing
of.  This schema was generated from the 1.7.3 version of the DoJo toolkit.  Any
version of DoJo which uses this same schema will work with DoJoSharp.

Copyright (c) 2012, Pangaea Information Technologies, Ltd., http://www.pangaeatech.com/
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

  * Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.
  * Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in the
    documentation and/or other materials provided with the distribution.
  * Neither the name of Pangaea Information Technologies, nor the names of 
    its contributors may be used to endorse or promote products derived from
    this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR CONTRIBUTORS BE
LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR 
CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF 
THE POSSIBILITY OF SUCH DAMAGE.
    </xsd:documentation>
</xsd:annotation>

<!-- Attribute Types -->

<xsd:simpleType name="constructor">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="" />
        <xsd:enumeration value="constructor" />
        <xsd:enumeration value="preamble" />
        <xsd:enumeration value="postscript" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="usage">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="required" />
        <xsd:enumeration value="optional" />
        <xsd:enumeration value="one-or-more" />
    </xsd:restriction>
</xsd:simpleType>

<xsd:simpleType name="scope">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="normal" />
        <xsd:enumeration value="prototype" />
        <xsd:enumeration value="instance" />
        <xsd:enumeration value="instance-prototype" />
    </xsd:restriction>
</xsd:simpleType>

<!-- Element Types -->

<xsd:element name="javascript">
    <xsd:annotation>
        <xsd:documentation xml:lang="en">The root node in the file.
        </xsd:documentation>
    </xsd:annotation>
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="object" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="object">
    <xsd:complexType>
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element ref="resources" />
            <xsd:element ref="provides" />
            <xsd:element ref="parameters" />
            <xsd:element name="summary" type="xsd:string" />
            <xsd:element name="description" type="xsd:string" />
            <xsd:element ref="examples" />
            <xsd:element ref="mixins" />
            <xsd:element ref="properties" />
            <xsd:element ref="methods" />
            <xsd:element ref="return-types" />
        </xsd:choice>

        <xsd:attribute name="location" type="xsd:string" default="" />
        <xsd:attribute name="type" type="xsd:string" default="" />
        <xsd:attribute name="tags" type="xsd:string" default="" />
        <xsd:attribute name="classlike" type="xsd:boolean" default="false" />
        <xsd:attribute name="superclass" type="xsd:string" use="optional" />
        <xsd:attribute name="private" type="xsd:boolean" default="false" />
        <xsd:attribute name="privateparent" type="xsd:boolean" default="false" />
    </xsd:complexType>
</xsd:element>

<xsd:element name="resources">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="resource" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="provides">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="provide" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="methods">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="method" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element ref="properties" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="method">
    <xsd:complexType>
        <xsd:all>
            <xsd:element ref="resources" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="provides" minOccurs="0" maxOccurs="1" />
            <xsd:element name="summary" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="examples" minOccurs="0" maxOccurs="1" />
            <xsd:element name="return-description" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="parameters" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="return-type" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="return-types" minOccurs="0" maxOccurs="1" />
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" default="" />
        <xsd:attribute name="scope" type="scope" use="optional" />
        <xsd:attribute name="type" type="xsd:string" default="" />
        <xsd:attribute name="private" type="xsd:boolean" default="false" />
        <xsd:attribute name="privateparent" type="xsd:boolean" default="false" />
        <xsd:attribute name="tags" type="xsd:string" default="" />
        <xsd:attribute name="constructor" type="constructor" default="" />
    </xsd:complexType>
</xsd:element>

<xsd:element name="examples">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="example" type="xsd:string" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="parameters">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="parameter" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="return-types">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="return-type" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="properties">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="property" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

<xsd:element name="property">
    <xsd:complexType mixed="true">
        <xsd:all>
            <xsd:element ref="resources" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="provides" minOccurs="0" maxOccurs="1" />
            <xsd:element name="summary" type="xsd:string" minOccurs="0" maxOccurs="1" />
            <xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1" />
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="scope" type="scope" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
        <xsd:attribute name="private" type="xsd:boolean" default="false" />
        <xsd:attribute name="privateparent" type="xsd:boolean" default="false" />
        <xsd:attribute name="tags" type="xsd:string" default="" />
    </xsd:complexType>
</xsd:element>

<xsd:element name="parameter">
    <xsd:complexType mixed="true">
        <xsd:sequence>
            <xsd:element name="summary" type="xsd:string" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required" />
        <xsd:attribute name="type" type="xsd:string" use="required" />
        <xsd:attribute name="usage" type="usage" use="required" />
        <xsd:attribute name="privateparent" type="xsd:boolean" default="false" />
        <xsd:attribute name="tags" type="xsd:string" default="" />
    </xsd:complexType>
</xsd:element>

<xsd:element name="return-type">
    <xsd:complexType>
        <xsd:attribute name="type" type="xsd:string" use="required" />
    </xsd:complexType>
</xsd:element>

<xsd:element name="mixins">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element ref="mixin" minOccurs="1" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute name="scope" type="scope" use="optional" />
    </xsd:complexType>
</xsd:element>

<xsd:element name="mixin">
    <xsd:complexType>
        <xsd:attribute name="scope" type="scope" use="required" />
        <xsd:attribute name="location" type="xsd:string" default="" />
    </xsd:complexType>
</xsd:element>

</xsd:schema>
